{% extends 'pages/base.html' %}
{%  block title %}Pokeneas - Taller 2{% endblock %}
{% block content %}
<div class="text-center ">
  <h1 class="brown-color "> Pokeneas </h1>
  <p class="brown-color">El maravilloso mundo de los neas</p>
  <div class="d-flex justify-content-between mt-5 flex-row">
    <div>
      <a href="{% url 'pokenea_form' %}" class="btn brown-button">Nuevo Pokenea</a>
    </div>
    <div>
      <a href="{% url 'pokeneas' %}" class="btn brown-button">Lista de Pokeneas</a>
    </div> 
  </div>
</div>
{% endblock %}